<div class="container">
    <h1 class="centar">Listado Medicamentos</h1>
    <div class="row">

        <div class="col margenBotonAgregarPaciente">
            <a href="/links/medicina/addMedicina" class="btn btn-lg btn-primary fas fa-user-plus">Agragar Medicamento</a>
        </div>
    </div>
    <td colspan="4">
        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
    </td>
    <table class="table margen" id="tabla">
        <thead>
            <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Tipo Medicina</th>
            <th scope="col">Nombre Medicina</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Fecha de ingreso</th>
            <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody class="table-secondary">
            {{#each medicamentos}}
            <tr>
                <td>{{codigo_stock}}</td>
                <td>{{tipo_medicina}}</td>
                <td>{{nombre_medicina}}</td>
                <td>{{cantidad}}</td>
                <td>{{fecha_ingreso}}</td>
                <td>
                    <a href="/links/medicina/editarMed/{{codigo_stock}}" class="btn btn-primary btn-sm far fa-edit" title="Editar"></a>
                    <a href="/links/medicina/delete/{{codigo_stock}}" class="btn btn-danger btn-sm far fa-trash-alt" title="Eliminar"></a>
                </td>
            </tr>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No existen Medicamentos guardados aún.</p>
                    <a href="/links/medicina/addMedicina">Crea uno!!!</a>
                </div>
            </div>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
        document.querySelector("#buscar").onkeyup = function(){
        $TableFilter("#tabla", this.value);
    }
    
    $TableFilter = function(id, value){
        var rows = document.querySelectorAll(id + ' tbody tr');
        
        for(var i = 0; i < rows.length; i++){
            var showRow = false;
            
            var row = rows[i];
            row.style.display = 'none';
            
            for(var x = 0; x < row.childElementCount; x++){
                if(row.children[x].textContent.toLowerCase().indexOf(value.toLowerCase().trim()) > -1){
                    showRow = true;
                    break;
                }
            }
            
            if(showRow){
                row.style.display = null;
            }
        }
    }
</script>