<div class="container">
    <h1 class="centar">Historial del paciente: <br> <i>{{fichaTratamiento.nombres_paciente}} {{fichaTratamiento.apellidos_paciente}}</i></h1>
    <div class="row">
    </div>
    <table class="table margen" id="tabla">
        <thead class="tamañoTituloTabla">
            <tr class="table-primary">
            <th >Nombre Paciente</th>
            <th >Apellidos Paciente</th>
            <th >Nombre Enfermedad</th>
            <th >Tratamiento</th>
            <th >Nombres Médico</th>
            <th >Apellidos Médico</th>
            <th >Comentario Médico</th>
            </tr>
        </thead>
        <tbody class="table-secondary">
            {{#each fichaTratamiento}}
            <tr>
                <td>{{nombres_paciente}}</td>
                <td >{{apellidos_paciente}}</td>
                <td >{{nombre_enfermedad}}</td>
                <td >{{tratamiento}}</td>
                <td >{{nombres_medico}}</td>
                <td >{{apellidos_medico}}</td>
                <td >{{comentario_medico}}</td>
            </tr>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No existe historial del paciente seleccionado</p>
                </div>
            </div>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
        document.querySelector("#buscar").onkeyup = function(){
        $TableFilter("#tabla", this.value);
    }
    
    $TableFilter = function(id, value){
        var rows = document.querySelectorAll(id + ' tbody tr');
        
        for(var i = 0; i < rows.length; i++){
            var showRow = false;
            
            var row = rows[i];
            row.style.display = 'none';
            
            for(var x = 0; x < row.childElementCount; x++){
                if(row.children[x].textContent.toLowerCase().indexOf(value.toLowerCase().trim()) > -1){
                    showRow = true;
                    break;
                }
            }
            
            if(showRow){
                row.style.display = null;
            }
        }
    }
</script>


























