<div class="container">
    <h1 class="centar">Ver citas Medicas</h1>
    <div class="row">
    </div>
    <td colspan="4">
        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
    </td>
    <table class="table margen" id="tabla">
        <thead class="tamañoTituloTabla">
            <tr class="table-primary">
            <th >Código Cita</th>
            <th >Nombres Paciente</th>
            <th >Apellidos Paciente</th>
            <th >Fecha Cita</th>
            <th >Nombre Médico</th>
            <th >Fecha de creación de la Cita</th>
            <th >Usuario de la Cita</th>
            </tr>
        </thead>
        <tbody class="table-secondary">
            {{#each citasPaciente}}
            <tr>
                <td>{{codigo_cita}}</td>
                <td >{{nombres_paciente}}</td>
                <td >{{apellidos_paciente}}</td>
                <td >{{fecha_cita}}</td>
                <td >{{nombres_medico}}</td>
                <td >{{created_at}}</td>
                <td >{{usuario}}</td>
            </tr>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No existen citas asignadas aun</p>
                </div>
            </div>
            {{/each}}
        </tbody>
    </table>
</div>


<script>
        document.querySelector("#buscar").onkeyup = function(){
        $TableFilter("#tabla", this.value);
    }
    
    $TableFilter = function(id, value){
        var rows = document.querySelectorAll(id + ' tbody tr');
        
        for(var i = 0; i < rows.length; i++){
            var showRow = false;
            
            var row = rows[i];
            row.style.display = 'none';
            
            for(var x = 0; x < row.childElementCount; x++){
                if(row.children[x].textContent.toLowerCase().indexOf(value.toLowerCase().trim()) > -1){
                    showRow = true;
                    break;
                }
            }
            
            if(showRow){
                row.style.display = null;
            }
        }
    }
</script>